*{
    margin: 0;
    padding: 0;
}

.nav-container{
    display: flex;
    padding: 5px;
    justify-content: space-around;
    background-color: #aca6a680;
}
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    color: #e6100d;
}
.logo{
    width: 200px;
}
.logo-title{}

.menu-container{

}
.items{
    display: flex;
    list-style: none;
}
.item{
    margin-right: 10px;
    padding: 10px;
    font-size: 19px;
    text-decoration: none;
    cursor: pointer;
}
/* navber section end  */ 

.banner-section{
    width: 100%;
    height: 100vh;
    background-image: url("../assets/image/background.jpg"), linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4));
    background-blend-mode: overlay;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.digital-banner{

}
.title{
    font-size: 86px;
    font-weight: 900;
    color: #ffffff;
}
.title-digital{
    color: #f52c2c;
}
.description{
    color: #ffffff;
    font-size: 22px;
    margin-bottom: 10px;
    padding: 10px;
    width: 50%;
    margin: auto;
}
.btn{
    padding: 15px 35px;
    font-size: 16px;
    border: none;
    margin: 5px;
    cursor: pointer;
}
.btn-more{
    background-color: #ff0000;
    color: #ffffff;
}
/* banner section end  */

.services-container{
    width: 100%;
    height: 100vh;
    background-image: url("../assets/image/footer-bg.png"), linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.9));
    background-blend-mode: overlay;
    color: #ffffff;
    padding-bottom: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services-left{
    width: 50%;
}
.btn-service{
    background-color: #ffffff;
    color: #808080;
    border-radius: 25px;
}
.title-service{
    font-size: 40px;
    font-weight: 700;
    padding: 7px;
    color: #becfd0;
}
.description-service{
    width: 75%;
    font-size: 20px;
    padding: 12px;
    color: #becfd0;
}
.service-list{
    list-style: decimal;
    padding: 22px;
    font-size: 18px;
    color: #becfd0;
}

.author-container{
    display: flex;
    justify-content: start;
    align-items: center;
}
.author-details{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    border-right: 1px solid #f52c2c ;
}
.author-details img{
    width: 25%;
    border-radius: 100px;
    padding: 7px;
}
.more-details{
    padding: 15px 30px;
    margin-left: 11px;
    border-radius: 25px;
    border: 1px solid #333030;
    color: #f52c2c;
    cursor: pointer
}
/* services left content end  */

.services-right{

}
.service-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.service{
    box-shadow: 4px 4px 8px rgb(26 24 24);
    background: linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0));
    background-color: #ffffff;
    color: #000000;
    border-radius: 5px;
    padding: 50px;
    text-align: center;
    width: 200px;
    height: 200px;
    margin-right: 15px;
}
.service-logo{
    width: 100px;
    padding: 20px;
}
/* services right content end  
    and service section full end 
*/

/* start appointment section  */
.appointment-section{
    width: 75%;
    padding: 15px;
    background-color: #e6100d;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 15px;
    margin-top: -80px;
    color: #ffffff;
}
.call-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-right: 2px solid #808080;
}
.appointment-logo{
    width: 100px;
    padding: 15px;
}
.appointment-description{
    padding: 10px;
    text-align: justify;
}
.appointment-button{
    padding: 10px;
}
.appointment-button button{
    padding: 15px 30px;
    border-radius: 25px;
    border: none;
    cursor: pointer
}
/* end appointment section */

/* start blog container  */
.blog-box{
    text-align: center;
    margin-top: 30px;
}
.blogs-title{
    font-size: 50px;
    font-weight: 700;
    padding: 10px;
}
.descripton-blog{
    font-size: 22px;
    width: 50%;
    margin: auto;
}
.blogs{
    margin-top: 35px;
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.blog{
    width: 350px;
    height: 430px;
    background-color: #ffffff;
    box-shadow: 4px 4px 8px #808080;
    border-radius: 10px;
}
.blog-img{
    width: 350px;
    border-radius: 10px;
    padding-bottom: 10px;
}
.blog-text{
    padding: 15px;
}
.blog-title{
    font-size: 24px;
    font-weight: 700;
    color: #363535;
}
.blog-description{
    font-size: 18px;
    color: #4c4848;
    margin-top: 15px;
}
/* blog container end  */

/* footer section start */
footer{
    width: 100%;
    height: 70vh;
    background-image: url("../assets/image/footer-bg.png"), linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.9));
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    color: #ffffff;
    line-height: 1.8em;
}
.footer-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    height: 60vh;
    margin: 0 auto;
    padding: 20px;
    border-bottom: 1px solid #808080;
}
.logo-box{
    width: 25%;
}
.logo-box img{
    width: 170px;
}
.icons{
    text-align: center;
    margin-top: 20px;
    cursor: pointer;

}

.footer-title{
    margin-bottom: 30px;
}
.copy{
    text-align: center;
    padding: 15px;
}




