*{
    margin: 0;
    padding: 0;
}

.nav-container{
    display: flex;
    padding: 5px;
    justify-content: space-around;
    background-color: #aca6a680;
}
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    color: #e6100d;
}
.logo{
    width: 200px;
}
.logo-title{}

.menu-container{

}
.items{
    display: flex;
    list-style: none;
}
.item{
    margin-right: 10px;
    padding: 10px;
    font-size: 19px;
    text-decoration: none;
    cursor: pointer;
}
/* navber section end  */ 

.banner-section{
    width: 100%;
    height: 100vh;
    background-image: url("../assets/image/background.jpg"), linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4));
    background-blend-mode: overlay;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.digital-banner{

}
.title{
    font-size: 86px;
    font-weight: 900;
    color: #ffffff;
}
.title-digital{
    color: #f52c2c;
}
.description{
    color: #ffffff;
    font-size: 22px;
    margin-bottom: 10px;
    padding: 10px;
    width: 50%;
    margin: auto;
}
.btn{
    padding: 15px 35px;
    font-size: 16px;
    border: none;
    margin: 5px;
    cursor: pointer;
}
.btn-more{
    background-color: #ff0000;
    color: #ffffff;
}
/* banner section end  */

.services-container{
    width: 100%;
    height: 100vh;
    background-image: url("../assets/image/footer-bg.png"), linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.9));
    background-blend-mode: overlay;
    color: #ffffff;
    padding-bottom: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services-left{
    width: 50%;
}
.btn-service{
    background-color: #ffffff;
    color: #808080;
    border-radius: 25px;
}
.title-service{
    font-size: 40px;
    font-weight: 700;
    padding: 7px;
    color: #becfd0;
}
.description-service{
    width: 75%;
    font-size: 20px;
    padding: 12px;
    color: #becfd0;
}
.service-list{
    list-style: decimal;
    padding: 22px;
    font-size: 18px;
    color: #becfd0;
}

.author-container{
    display: flex;
    justify-content: start;
    align-items: center;
}
.author-details{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    border-right: 1px solid #f52c2c ;
}
.author-details img{
    width: 25%;
    border-radius: 100px;
    padding: 7px;
}
.more-details{
    padding: 15px 30px;
    margin-left: 11px;
    border-radius: 25px;
    border: 1px solid #333030;
    color: #f52c2c;
}